---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

const postDate = new Date(entry.data.pubDate).toLocaleString();
---

<BaseLayout pageTitle={entry.data.title} customClass="justify-center">
  <article class="prose">
    <aside>
      <h1 class="mb-2 font-bold text-2xl">{entry.data.title}</h1>
      <div class="italic">
        <span>Posted:</span>
        <time>{postDate}</time>
      </div>
    </aside>
    <Content />
  </article>
</BaseLayout>
 
