---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getEntryBySlug } from "astro:content";
import wide_photo from "../images/wide_photo.jpeg";
const pageTitle = "About";

const bio = await getEntryBySlug("static", "long-bio");
const { Content } = await bio.render();
---

<BaseLayout pageTitle={pageTitle}>
  <div class="w-full flex flex-col items-center">
    <img class="prose max-w-sm mx-3 md:max-w-xl md:max-h-96" src={wide_photo} />
    <div class="prose prose-headings:font-serif max-w-s mx-3 mt-4">
      <Content />
    </div>
  </div>
</BaseLayout>
