---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
import aboutPhoto from "../images/about_img.jpeg";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="bio">
    <img
      src={aboutPhoto}
      alt="Chris sitting in front of a background of green foliage with a low stone wall. He is wearing a white dress shirt with the sleeves rolled up, and has his chin resting on one hand"
    />
    <p>
      Chris is a writer and independent educational consultant. He previously
      lived and worked in Shanghai, China, where he attended the Shanghai
      Writing Workshop. He has written numerous science fiction stories,
      including two novellas for the International 3-Day Novel Contest.
      Currently, he is editing his first novel, a work of epic fantasy, as well
      as co-authoring the memoir of a business associate from China. In his free
      time, Chris runs a homebrew D&D campaign, practices yoga, and watches a
      little too much YouTube. He lives in Somerville, Massachusetts.
    </p>
  </div>
</BaseLayout>

<style>
  .bio {
    padding-top: 2em;
  }

  .bio p {
    margin: 1.5em 0em;
  }

  img {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: 1.2em;
  }
</style>
