---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
import tall_photo from "../images/tall_photo.jpeg";
//       alt="Chris sitting in front of a background of green foliage with a low stone wall. He is wearing a white dress shirt with the sleeves rolled up, and has his chin resting on one hand"
---

<BaseLayout pageTitle={pageTitle}>
  <div class="pt-4 flex flex-col md:flex-row">
    <img class="max-w-s mx-3 md:max-h-96" src={tall_photo} />
    <p class="px-3 prose">
      Chris is a writer and independent educational consultant. He previously
      lived and worked in Shanghai, China, where he attended the Shanghai
      Writing Workshop. He has written numerous science fiction stories,
      including two novellas for the International 3-Day Novel Contest.
      Currently, he is editing his first novel, a work of epic fantasy, as well
      as co-authoring the memoir of a business associate from China. In his free
      time, Chris runs a homebrew D&D campaign, practices yoga, and watches a
      little too much YouTube. He lives in Somerville, Massachusetts.
    </p>
  </div>
</BaseLayout>
