---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle} customClass="justify-center">
  <div class="w-full h-full">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSdo1NwWmz3VevAhDMNazLo-1f1PPB9kxkJfB6T68MDWhJINqg/viewform?embedded=true"
      class="w-full"
      height="677"
      frameborder="0"
      marginheight="0"
      marginwidth="0">Loading…</iframe
    >
  </div>
</BaseLayout>
<!--   height="677"
    width="350" -->
