---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
import chris from "../images/chris.jpg";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="homePage">
    <aside>
      <img alt="Image of Chris, zoomed in on the forehead" src={chris} />
    </aside>
    <section>
      <h3>👋 Hi there, I'm Chris</h3>
      <p>I write books. Before that I got kids into colleges.</p>
    </section>
  </div>

  <style>
    .homePage {
      display: flex;
    }

    section {
      padding: 0 1em;
    }
  </style>
</BaseLayout>
