---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
import RecentPosts from "../components/RecentPosts.astro";
import UpcomingBook from "../components/UpcomingBook.astro";
import ShortBio from "../components/ShortBio.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Demo</h2>
  <ShortBio />
  <UpcomingBook />
  <RecentPosts />
  <h3>More Demo</h3>
</BaseLayout>
