---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
import wide_photo from "../images/wide_photo.jpeg";
import RecentPosts from "../components/RecentPosts.astro";
import UpcomingBook from "../components/UpcomingBook.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="p1">
    <div class="pb-4">
      <p>
        Chris is a writer and independent educational consultant. He previously
        lived and worked in Shanghai, China, where he attended the Shanghai
        Writing Workshop. He has written numerous science fiction stories,
        including two novellas for the International 3-Day Novel Contest.
        Currently, he is editing his first novel, a work of epic fantasy, as
        well as co-authoring the memoir of a business associate from China. In
        his free time, Chris runs a homebrew D&D campaign, practices yoga, and
        watches a little too much YouTube. He lives in Somerville,
        Massachusetts.
      </p>
    </div>
    <img class="md:max-w-md" src={wide_photo} alt="a picture of the author" />
  </div>
  <aside class="md:ml-8 md:max-w-md">
    <UpcomingBook />
    <RecentPosts />
  </aside>
</BaseLayout>
