---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
import chris from "../images/chris.jpg";
import UpcomingBook from "../components/UpcomingBook.astro";
import RecentPosts from "../components/RecentPosts.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <article class="homePage">
    <section>
      <h3 class="intro">👋 Hi there, I'm Chris</h3>
      <div class="bio">
        <img src={chris} alt="a picture of the author" />
        <p>
          Chris Zombik is a fantasy author in the process of publishing his
          first novel. He attended Columbia University where he studied
          Sociology. After this, he lived in Shanghai, China for 5 years while
          working as an education consultant, helping students attend
          universities in the U.S.
        </p>
        <p>
          Creative writing has been a longtime passion, going back to the highly
          selective Writer's Workshop series offered at Chris's high school.
          After writing numerous short fiction pieces and competing in the
          prestigious
          <a href="http://www.3daynovel.com">Three-Day Novel Contest</a> multiple
          times.
        </p>
      </div>
    </section>
    <aside>
      <UpcomingBook />
      <RecentPosts />
    </aside>

    <style>
      .homePage {
        display: flex;
        margin-top: 24px;
      }

      aside {
        margin-left: 4em;
      }

      h3 {
        padding: 12px 0;
      }

      img {
        max-width: 300px;
        float: left;
        margin-right: 1.5em;
      }

      .intro {
        font-weight: bold;
      }

      .bio p {
        margin-bottom: 1.5em;
      }
    </style>
  </article>
</BaseLayout>
