---
const date = new Date().getFullYear();
import twitter from "../images/icons/twitter.svg";
---

<footer class="siteFooter max-w-[90ch] m-auto">
  <div>© {date} Christopher Zombik</div>
  <div class="siteFooter-icons">
    <a href="https://twitter.com/chriszombik">
      <img class="twitterIcon" src={twitter} alt="Twitter logo" />
    </a>
    <style>
      .siteFooter {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
      }

      .siteFooter-icons {
        margin-left: auto;
      }

      a,
      a:visited {
        color: inherit;
        text-decoration: none;
      }

      .twitterIcon {
        height: 16px;
        width: 16px;
      }
    </style>
  </div>
</footer>
