---
import Navigation from "../components/Navigation.astro";
---

<header class="siteHeader">
  <div>
    <h1>Chris Zombik</h1>
  </div>
  <div class="navLinks">
    <Navigation />
  </div>
</header>

<style>
  .siteHeader {
    display: flex;
    justify-content: end;
  }

  .navLinks {
    margin-left: auto;
  }
</style>
