---
import Navigation from "../components/Navigation.astro";
---

<header class="bg-header mt-1 font-serif">
  <section class="flex flex-col md:flex-row justify-end max-w-[90ch] m-auto">
    <div class="mt-auto">
      <a class="homeLink" href="/">
        <h1 class="text-4xl font-bold">Chris Zombik</h1>
      </a>
    </div>
    <div class="ml-auto mt-auto">
      <Navigation />
    </div>
  </section>
</header>
