---
import Navigation from "../components/Navigation.astro";
---

<header
  class="bg-header mb-2 font-sans md:w-screen md:relative md:left-[calc(-50vw_+_50%)]"
>
  <section
    class="flex flex-col md:flex-row md:justify-end md:max-w-[90ch] md:m-auto px-2"
  >
    <a class="py-1 mt-auto text-center md:text-left" href="/">
      <h1 class="text-4xl font-bold">Chris Zombik</h1>
    </a>
    <div class="md:ml-auto mt-auto">
      <Navigation />
    </div>
  </section>
</header>
