---
import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");
// class="font-bold pt-3 pb-0.5 mb-1 small-caps border-b-2 border-b-s"
---

<section>
  <h3 class="font-bold pt-3 pb-0.5 mb-1">Recent Blog Posts</h3>
  <p>Here are a few of my most recent posts.</p>
  <p>You can see the rest over on my <a href="/blog">blog page</a></p>
  <ul class="postList" role="list">
    {
      blogEntries
        .reverse()
        .slice(0, 3)
        .map((blogPostEntry) => (
          <li>
            <a
              class="font-bold underline"
              href={`/posts/${blogPostEntry.slug}`}
            >
              {blogPostEntry.data.title}
            </a>
            <span> ~ </span>
            <time
              class="postedDate"
              datetime={blogPostEntry.data.pubDate.toISOString()}
            >
              {blogPostEntry.data.pubDate.toDateString()}
            </time>
          </li>
        ))
    }
  </ul>
</section>

<style>
  h3 {
    font-variant: small-caps;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .postList {
    margin: 1em 0 1em 0.5em;
  }

  .postList li {
    list-style-type: circle;
    list-style-position: inside;
  }
</style>
