---
---

<section>
  <h3>Recent Blog Posts</h3>
  <ul>
    <li>
      <a href="/posts/hello-world">Hello World</a>
    </li>
  </ul>
</section>

<style>
  h3 {
    padding: 12px 0;
    font-weight: bold;
    color: midnightblue;
    border-bottom: 1px solid rgba(152, 134, 230, 0.4);
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    font-variant: small-caps;
  }

  section {
    padding: 1em;
  }
</style>
