---
import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");
---

<section class="p1">
  <h3 class="font-bold pt-3 pb-0.5 mb-1 border-b-2 border-b-slate-200">
    Recent Blog Posts
  </h3>
  <p>Here are a few of my most recent posts.</p>
  <p>You can see the rest over on my <a href="/blog">blog page</a></p>
  <ul class="my1 ml-0.5" role="list">
    {
      blogEntries
        .reverse()
        .slice(0, 3)
        .map((blogPostEntry) => (
          <li class="list-disc list-inside">
            <a
              class="font-bold underline"
              href={`/posts/${blogPostEntry.slug}`}
            >
              {blogPostEntry.data.title}
            </a>
            <span> ~ </span>
            <time datetime={blogPostEntry.data.pubDate.toISOString()}>
              {blogPostEntry.data.pubDate.toDateString()}
            </time>
          </li>
        ))
    }
  </ul>
</section>
