---
---

<section class="p-1">
  <h3 class="font-bold pb-0.5 mb-1 border-b-2 border-b-slate-200">
    Meet Chris
  </h3>
  <div class="py-3">
    Chris Zombik is an author and independent educational consultant. You can
    read his <a class="underline font-bold" href="/blog">blog posts</a>, some of
    his <a class="underline font-bold" href="/works">short fiction</a>, or a <a
      class="underline font-bold"
      href="/about">more in depth biography</a
    >. Thanks for stopping by!
  </div>
</section>
