---
import { getEntryBySlug } from "astro:content";
const bio = await getEntryBySlug("static", "short-bio");
const { Content } = await bio.render();
---

<section class="p-1">
  <h3 class="font-bold pb-0.5 mb-1 border-b-2 border-b-slate-200">
    Meet Chris
  </h3>
  <div class="py-3">
    <Content />
  </div>
</section>
