---
---

<section class="p-1">
  <h3 class="font-bold pb-0.5 mb-1 border-b-2 border-b-slate-200">
    What I'm Working On
  </h3>
  <div class="py-3">
    <strong>THE NOVEL</strong> — A story about family, duty, ambition, and magic,
    set against a backdrop of colonialism, revolution, and war. Epic fantasy in an
    original world, inspired by early modernity and the French Revolution. Some guns,
    zero dragons.
    <p class="mt-2"><strong>Status:</strong> Drafted, currently editing.</p>
  </div>
  <div class="py-3">
    <strong>THE MEMOIR</strong> — Tracing China's transformation from the Cultural
    Revolution to the COVID-19 pandemic and beyond, through one man's incredible
    life story.

    <p class="mt-2"><strong>Status:</strong> Early draft.</p>
  </div>
</section>
