---
import { getCollection } from "astro:content";
const upcomingWorks = await getCollection("upcoming");
---

<section class="p-1">
  <h3 class="font-bold pb-0.5 mb-1 border-b-2 border-b-slate-200">
    What I'm Working On
  </h3>
  {
    upcomingWorks.map((work) => (
      <div class="py-3">
        <strong class="font-bold">{work.data.title}</strong> - {work.body}
        <p class="mt-2">
          <strong>Status:</strong> {work.data.status}
        </p>
      </div>
    ))
  }
</section>
