---
import Placeholder from "../images/Placeholder.jpg";
---

<section>
  <h3>Upcoming Book</h3>
  <img src={Placeholder} />
</section>

<style>
  img {
    max-width: 200px;
  }

  h3 {
    padding: 12px 0;
    font-weight: bold;
    color: var(--old-lavender);
    border-bottom: 1px solid hsla(251, 10%, 42%, 0.4);
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    font-variant: small-caps;
  }

  hr {
    height: 1em;
    margin: 0;
  }

  section {
    padding: 1em;
  }
</style>
