---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Meta from "../components/Meta.astro";
import "@fontsource/montserrat";
import "@fontsource/merriweather";
import "../styles/global.sass";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <Meta />
    <title>{pageTitle}</title>
    <script
      src="https://kit.fontawesome.com/f6e3757d2b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <!-- <script>
      import "../scripts/menu.js";
    </script> -->
  </body>
</html>
