---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Meta from "../components/Meta.astro";
import "@fontsource/playfair-display";
import "@fontsource/inter";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <Meta />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <!-- <script>
      import "../scripts/menu.js";
    </script> -->
    <style>
      main {
        display: flex;
        margin-top: 24px;
        flex-direction: row;
      }

      @media screen and (min-width: 320px) and (max-width: 680px) {
        main {
          flex-direction: column;
        }
      }
    </style>
  </body>
</html>
