---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Meta from "../components/Meta.astro";
import "@fontsource/playfair-display";
import "@fontsource/inter";
const { pageTitle, customClass } = Astro.props;
---

<html lang="en" class="h-full font-serif min-h-screen">
  <head>
    <Meta />
    <title>{pageTitle}</title>
  </head>
  <body class="flex flex-col min-h-screen md:max-w-[90ch] md:m-auto">
    <Header />
    <main
      class={"flex flex-col flex-grow px-2 md:px-0 md:mt-4 md:flex-row " +
        customClass}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
