---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const postDate = new Date(frontmatter.pubDate).toLocaleDateString();
---

<BaseLayout>
  <article>
    <header>
      <h3>{frontmatter.title}</h3>
      <p>
        <strong>Written by:</strong>
        {frontmatter.author} | <strong>Published:</strong>
        <time datetime={frontmatter.pubDate}>{postDate}</time>
      </p>
    </header>
    <slot />
  </article>
</BaseLayout>

<style>
  header {
    margin-bottom: 16px;
    color: midnightblue;
    border-bottom: 1px solid rgba(152, 134, 230, 0.4);
    margin-bottom: 1em;
  }

  header p {
    padding-bottom: 0.5em;
  }

  h3 {
    padding: 12px 0;
    font-weight: bold;
    font-size: 2em;
  }
</style>
